<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browser Info</title>

    <!-- CSS -->
    <!-- load bootstrap and custom stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Request Header Parser Microservice</h1>
        <p>Retrieve browser info: IP Address, Language, Operating System</p>
        <p style = "color:black; background-color:lightgray; border-radius:5px;">Yours: <%=JSON.stringify(browserInfo)%></p>
        <p><a href="https://github.com/dMcGaa/header-parser-micro">GitHub</a></p>
        <p style="font-size: 80%;"><i>updated 2016-01-04</i></p>
    </div>
</div>
    
</body>
</html>